.filterMainContainer {
 margin-left: 35%;
 margin-top: 10px;
 margin-bottom: 10px;
}

.filterContainer {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.filterLabel {
 margin-right: 10px;
 margin-left: 10px;
 font-size: 25px;
 font-weight: 700;
 color: #819ff5;
}
.filterInput {
 padding: 5px;
 margin-left: 20px;
 font-size: 20px;
 border-radius: 10px;
 border: 2px solid #819ff5;
}
