.markupTaskContainer {
 width: 500px;
 margin: 0 auto;
 padding: 10px;
}
.ulContainer {
 padding: 0;
}
.newTask {
 position: relative;
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin-bottom: 5px;
 max-width: 500px;
 font-size: 20px;
 font-weight: 500;
 text-align: center;
 list-style: none;
 border: 1px solid black;
 border-radius: 5px;
 background-color: rgb(111, 111, 250);
 overflow-wrap: break-word;
}

.newTasktName {
 margin: 0;
 margin-right: 20px;
 color: rgb(36, 250, 8);
}
.newTaskText {
 display: inline-block;
 margin-left: 10px;
 margin-right: 10px;
 color: white;
}
.btnTask {
 display: inline-block;
 margin: 0 auto;
 margin-bottom: 10px;
 display: inline-block;
 width: 100px;
}
.btnTask:hover {
 cursor: pointer;
 background-color: crimson;
 color: white;
}
.btnEdit{
 display: inline-block;
 margin: 0 auto;
 margin-bottom: 10px;
 display: inline-block;
 width: 100px;
}
.btnEdit:hover{
 cursor: pointer;
 background-color: rgb(106, 243, 14);
}
.inputEditName{
width: 200px;
margin: 0 auto;
}
.checkboxTask {
 position: absolute;
 top: 8%;
 left: -28%;
 width: 20px;
 height: 20px;
 margin-top: 10px;
 margin-left: 90%;
 display: inline-block;
}
.checkboxTaskCompletedLabel{
    margin-right: 10px;
color: white;
}
/* .checkboxTaskCompletedInput{

} */